.exploreSectionWrapper{
    width: 90%;
    margin: 3rem auto;
}

.row{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row:nth-of-type(2){
    flex-direction: row-reverse;
}

.imageContainer{
    width: 60%;
    text-align: center;
}

.textContainer{
    width: 40%;
}

.imageContainer img{
    width: 80%;
    object-fit: contain;
    vertical-align: middle;
}

.textContainer h2{
    font-size: 2.75rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.textContainer a{
    display: inline-block;
    text-align: center;
    padding: 1.5rem 3rem;
    background-color: transparent;
    color: #E1B313;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    outline: none;
    border-radius: 3rem;
    border: 2px solid black;
}

.exploreSectionWrapper .row:nth-child(1) .textContainer a{
    background-color: black;
    border: 2px solid black;
}

.exploreSectionWrapper .row:nth-child(3) .imageContainer{
    width: 45%;
}

.exploreSectionWrapper .row:nth-child(3) .textContainer{
    width: 55%;
}

.textContainer img{
    height: 15rem;
    vertical-align: bottom;
}