.headerWrapper{
    width: 100%;
    position: fixed;
    height: 4rem;
    top: 5rem;
    left: 0;
    z-index: 5;
    background-color: #dedede;
}

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.searchBoxContainer{
    width: 55%;
    height: 85%;
    vertical-align: middle;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid #707070;
}

.searchBoxInput{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 1rem;
    background-color: transparent;
    font-size: 1.025rem;
    border-top-right-radius: 2rem;
    font-family: inherit;
    border-bottom-right-radius: 2rem;
}

.searchBoxInput::placeholder{
    font-size: 1.025rem;
    font-family: inherit;
    letter-spacing: .75px;
    color: #acacac;
}

.searchIcon{
    height: 45%;
    padding-left: 1.1rem;
    vertical-align: middle;
}

.pagesInfo{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pageInfo{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageInfo *{
    margin: 0 .5rem;
}

.pageInfo form {
    width: 3rem;
    height: 100%;
}

.pageInfo form input{
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
    outline: none;
    border-radius: 2px;
    text-align: center;
    font-family: inherit;
    font-size: 1.05rem;
}

.pageNavigators button{
    background-color: #ffffff;
    border: 1px solid #707070;
    padding: .15rem;
    margin: 0 .1rem;
    border-radius: 2px;
}