.summaryWrapper{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.icons{
    width: 40%;
    margin: 2rem 0;
}

.iconContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 10rem;
    overflow-y: scroll;
}

.iconContainer img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.icons h2{
    font-weight: 500;
    margin-bottom: .5rem;
    letter-spacing: .5px;
}

.downloadInfo{
    width: 40%;
}

.downloadInfo button{
    font-size: .95rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
}

.downloadOptions{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.downloadOptions button, .allBtn{
    width: 20%;
    padding: .5rem 0;
    margin: 1rem .5rem;
    text-transform: uppercase;
    border: 2px solid #e1b313;
    background: none;
    outline: none;
    transition: all .3s ease;
}

.allBtn{
    width: 43%;
    display: block;
}

.downloadOptions button:hover, .allBtn:hover{
    background-color: #000000;
    color: #ffffff;
}

.downloadOptions button.selected{
    background-color: #000000;
    color: #ffffff;
}

.downloadButton{
    margin: 2rem .5rem;
    width: 50%;
    padding: .75rem 0;
    text-transform: uppercase;
    font-size: 1.05rem;
    background-color: #e1b313;
    border: 2px solid #e1b313;
    outline: none;
}


